.share{
    font-family: "GTWalsheimPro"; 
    padding-top: 230px;
    background-color: #fafafa;
}

.share-items{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.share-items .share-item{
    display: block;
    width: 30%;
}

.share-items .MuiCard-root {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 40px;
    box-shadow: none;
    padding-bottom: 70px;
}

.share-items h5{
    color: #000000;
    font-family: 'GTWalsheimProBold';
    font-size: 40px;
    letter-spacing: 1.2px;
    padding: 80px 0px 23px;
}

.share-items .share-items__link{
    color: #919eab;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin-bottom: 100px;
}

.share-items .share-item:hover .share-items__link{
    text-decoration: underline;
    color: #029fff;
    transition: 0.3s;
}

@media(max-width: 1300px){
    .share-wrapper .share-items .share-items__link{
        margin-bottom: 40px;
    }
}

@media(max-width: 1024px){
    .share{
        padding-top: 150px;
    }
    .share-items h5{
        padding-top: 40px;
        font-size: 24px;
    }
    .share-items .MuiCard-root{
        padding-bottom: 55px;
    }
    .share-item img{
        width: 70px;
        margin: 0 auto;
        max-height: 70px;
    }
    .share-items .share-items__link{
        font-size: 16px;
    }
}

@media screen and (max-width: 765px){
    .share-item img {
        width: 45px;
        max-height: 45px;
    }
    .share-items h5 {
        padding-top: 30px;
        font-size: 18px;
    }
    .share-wrapper .share-items .share-items__link {
        margin-bottom: 25px;
        font-size: 12px;
    }
    .share-items .MuiCard-root{
        border-radius: 6px;
        padding-bottom: 35px;
    }
    .share{
        padding-top: 110px;
    }
}

@media(max-width: 520px){
    .share-items{
        padding-top: 20px;
    }
    .share-items h5 {
        padding: 12px 0px 5px;
        font-size: 12px;
    }
    .share-wrapper .share-items .share-items__link{
        font-size: 8px;
    }
    .share-item img {
        width: 26px;
        max-height: 26px;
    }
    .share-items .MuiCard-root{
        padding-bottom: 25px;
    }
}