.join{
    font-family: "GTWalsheimPro"; 
    padding-top: 230px;
    background-color: #fafafa;
    padding-bottom: 100px;
}

.join .section-start{
   margin: 0px;
}

.join-comments{
    margin-top: 75px;
    text-align: right;
    width: 100%;
    position: relative;
}

.join-commnets__view{
    object-fit: cover;
    width: 44%;
}

.join-comments__stars{
    position: absolute;
    top: 121px;
    left: 145px;
    width: 64%;
}

.join-show__comment{
    max-width: 450px;
    padding: 18px 32px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.14);
    border-radius: 9px;
    background-color: #ffffff;
    text-align: left;
    position: absolute;
    right: 30%;
    top: 9px;
}

.join-show__comment p{
    opacity: 0.5;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.54px;
    line-height: 20px;
}

.join-show__header{
    display: flex;
    margin-bottom: 10px;
}

.join-show__header h6{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    line-height: 13px;
    margin-right: 20px;
}

.join-show__header .join-show__stars{
    display: flex;
    justify-content: space-between;
}

.join-show__stars img{
    margin: 0px 5px;
}

@media(max-width: 1300px){
    .join-show .join-show__comment {
        top: -36px;
    }
    .join .section-start{
        padding-bottom: 25px;
    }
}

@media(max-width: 1024px){
    .join{
        padding-top: 150px;
        padding-bottom: 0px;
    }
    .join-show__comment p{
        font-size: 14px;
    }
    .join-commnets__view{
        width: 53%;
    }
    .join-comments__stars{
        left: 30px;
    }
}

@media(max-width: 765px){
    .join-comments {
        margin-top: 115px;
    }
    .join-show .join-show__comment {
        top: -90px;
    }
    .join-show__comment{
        right: 14%;
        left: 10%;
    }
    .join-comments__stars{
        top: 65px;
    }
    .join {
        padding-top: 90px;
    }
}

@media screen and (max-width: 520px){
    .join-show .join-show__comment{
        display: none;
    }
    .join-comments {
        margin-top: 0px;
    }
    .join {
        padding-top: 70px;
    }
    .join .section-start{
        text-align: center;
    }
    .join-commnets__view {
        width: 45%;
    }
    .join-comments__stars {
        top: 17px;
    }
}
