.wrapper_full_form{
    width: 47.4%;
}

.previous-step{
    cursor: pointer;
}
.active{
    color: red;
}
.n{
    color: green;
}
.bi-cloud-arrow-up{
    display: none;
}
.MuiDropzoneArea-root{
    background-color: #f2f5ff !important;
    margin: 100px auto 120px auto;
    width: 85% !important;
}
.third-form{
    border-radius: 10px;
    background-color: #deeaf6;
    padding: 32px 48px;
    position: relative;
}
.first-form,
.second-form{
    position: relative;
}

.third_form-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


.closing_form{
    font-size: 18px;
    line-height: 120%;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

.dispn{
    background-color: #b3bbc4 !important;
    color: #000000 !important;
}

.disp{
    background-color: #4b6fff !important; 
    color: #ffffff !important;
}

/* .form-upload .MuiButton-containedPrimary{
    color: #fff;
    background-color: #476afe;
    width: 100px;
    height: 36px;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 12px;
} */
.form-upload__helper{
    position: relative;
}
.form-next {
    position: absolute;
    top:35px;
    right: 0px;
    width: 100%;
}

.form-upload{
    position: relative;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn--browse{
    padding: 12px 14px;
    color: #fff;
    background-color: #476afe;
    width: 100px;
    height: 36px;
    position: absolute;
    border-radius: 8px;
    top: 15px;
    right: 10px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'GTWalsheimProBold';
    cursor: pointer;

}

.form-upload__helper input{
    border-radius: 8px;
    background-color: #ffffff;
    padding: 27px 22px;
    border: none;
    width: 100%;
    margin-bottom: 32px;
    outline: none;
    position: absolute;
    top: 7px;
}

.f-input{
	height: 42px;
	width: 100%;
	max-width: 400px;
	float: left;
	padding: 0 14px;
}

@media(max-width: 1300px){
    .wrapper_full_form{
        width: 52.4%;
    }
}

@media screen and (max-width: 1024px){
    .wrapper_full_form{
        margin-top: 40px;
        width: 100%;
    }
}

@media screen and (max-width: 654px){
    .bi-cloud-arrow-up{
        display: block;
        position: absolute;
        top: 6px;
        left: 35px;
    }
    .fileUpload span{
        display: none;
    } 
}

@media screen and (max-width: 584px){
    #uploadFile{
        top: 27px;
    }
    .btn--browse{
        width: 70px;
        height: 30px;
        top: 40px;
        /* position: relative; */
    }
    .bi-cloud-arrow-up {
        top: 2px;
        left: 23px;
    }
}



@media screen and (max-width: 520px){
    .wrapper_full_form{
        margin-top: 0px;
    } 
    #uploadFile{
        padding: 19px 22px;
        top: 0px
    }
    .btn--browse{
        top: 5px;
    }
}

@media screen and (max-width: 414px){
    .btn--browse{
        width: 50px;
        height: 20px;
        top: 30px;
    }
    .bi-cloud-arrow-up{
        top: 0px;
        left: 13px;
    }
    #uploadFile{
        top: 21px;
    }
}