*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: 'GTWalsheimPro', sans-serif;
}


li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1235px;
  width: 100%;
  margin: auto;
}

.image_separator{
  background: url("../components/About/img/about.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 777px;
}