*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  font-family: 'GTWalsheimPro', sans-serif;
}


li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1235px;
  width: 100%;
  margin: auto;
  padding: 0px 27px;
}

.image_separator{
  background: url("../components/About/img/about.png") center no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  max-height: 777px;
  min-height: 500px;
}

@media screen and (max-width: 1024px){
  .image_separator{
    min-height: 400px;
  }
}

@media screen and (max-width: 480px){
  .container{
    padding: 0px 27px;
  }
}